[user]
	name = Kerrick Staley
	email = k@kerrickstaley.com
[pull]
	rebase = true
[init]
	defaultBranch = main
[core]
	pager = less -i --mouse -FRSX
[push]
	autoSetupRemote = true
[include]
    path = .gitconfig_local
